.jumbotron {
background-color: yellow;
color:black;
margin-top:10px
}

footer {

padding: 10px 10px 0 10px;
background-color:#AADA86;
margin-b0tton: 0px;
margin-top:10px;
}

.button {
	color:white;
}


.card-hotel{
	flex:1 200px;
	margin-top: 10px;
}

.btn-Nombreboton{
	width:100%;
	border-radius: 0px;
	
}

.footer-address-icon{
	padding-right:10px;
}

.tab-content{
	padding-top:10px;
}


.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;