$green:#A4CF65;

@mixin margenes($top, $bottom){
	margin-top:$top;
	margin-bottom: $bottom;
	}

@mixin padding($top, $right){
	padding-top:$top;
	padding-right:$right;
	}

.jumbotron {
background-color: $green;
color:black;
@include margenes(50px, 0px);
}

footer {

padding: 10px 10px 0 10px;
background-color: $green;
margin-b0tton: 0px;
@include margenes(10px, 0px);
}

.button {
	color:white;
}


.card-hotel{
	flex:1 200px;
@include margenes(10px, 0px);
}

.btn-Nombreboton{
	width:100%;
	border-radius: 0px;
	
}

.footer-address-icon{
@include padding(0px, 10px);
}

.tab-content{
@include padding(10px, 0px);
}


.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }