.jumbotron {
  background-color: #A4CF65;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #A4CF65;
  margin-b0tton: 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.button {
  color: white; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-Nombreboton {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px; }

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
